    <!-- Footer -->
   <ion-footer>
     <ion-toolbar>
       <ion-grid>
          <ion-row class="footer-section">
            <!-- Columna izquierda: Encuéntranos y Redes Sociales -->
            <ion-col size="12" size-md="6" class="footer-left">
              <h3 class="footer-title">Encuéntranos</h3>
                <div class="social-icons">
                  <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
                  <ion-icon name="logo-youtube" class="social-icon"></ion-icon>
                  <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
                  <ion-icon name="logo-linkedin" class="social-icon"></ion-icon>
                </div>
            </ion-col>

            <!-- Columna derecha: Información de contacto -->
            <ion-col size="12" size-md="6" class="footer-right">
              <div class="contact-info">
                <!-- Teléfonos -->
                <div class="contact-item">
                  <ion-icon name="call-outline" class="contact-icon"></ion-icon>
                  <div class="contact-details">
                    <p>+56 9 5552 2255</p>
                    <p>+56 9 5557 7788</p>
                    <p>+56 9 4777 4211</p>
                  </div>
                </div>

                <!-- Ubicación -->
                <div class="contact-item">
                  <ion-icon name="location-outline" class="contact-icon"></ion-icon>
                  <div class="contact-details">
                    <p>Avenida San Martín</p>
                    <p>18875</p>
                    <p>Viña del Mar</p>
                  </div>
                </div>

                <!-- Correo -->
                <div class="contact-item">
                  <ion-icon name="mail-outline" class="contact-icon"></ion-icon>
                  <div class="contact-details">
                    <p>reserva@hotelpacificreef.com</p>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>
