<ion-header>
  <ion-toolbar>
    <ion-title class="titulo-modal">Información Ingresada</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"class="custom-back-button">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div class="modal-box">
      <p><strong>Nombre completo:</strong> {{ nombre }}</p>
      <p><strong>Correo:</strong> {{ email }}</p>
      <p><strong>Teléfono:</strong> {{ telefono }}</p>
      <p><strong>Dirección:</strong> {{ direccion }}</p>
      <p><strong>Contraseña:</strong> {{ password }}</p>
    </div>
  </ion-content>